.emojibar__button {
  display: block;
  width: 28px;
  height: 28px;
  border: 0px solid #dddddd;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 3px;
}
.emojibar__button.emojibar__button--active {
  border: 1px solid #6ec7ff;
  background-color: #e6f4ff;
}
