.footer__button--active {
  background-color: cyan;
}
footer {
  padding: 30px;
  text-align: center;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px #dedede;
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}

.header > img {
  display: block;
  height: 70px;
  margin: 0 auto;
}

footer > button {
  width: 50px;
  height: 50px;
}
